* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
}

button {
    padding: 1rem;
    font-size: 2rem;
    border: 6px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: black;
}
